body{
    background-color: rgb(243, 243, 243);
    color:rgb(58, 58, 58);
}

.whole{
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    top: 140px;
    position: absolute;
}

.intro{
    text-align: center;
}

.common{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    text-align: center;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    padding:5px;
    background-color: rgb(58, 58, 58);
    color:white;
}

.links{
    text-align: center;
    position: absolute;
    top:89px;
    left: 0px;
    right: 0px;
    line-height: 20px;
    background-color: rgb(128, 128, 128);
    color:white;
}

.lists{
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.label{
    text-decoration: underline;
    color: rgb(26, 87, 137);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head3{
    color:rgb(26,87,137);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    text-decoration: none;
    padding: 10px 13px;
}

nav a{
    color:black;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color:white;
}

nav a:hover{
    background-color: rgb(243, 243, 243);
    color: black;
}

.tableau{
    width: 50%;
}

img{
    width: 25%;
}

.id{
    text-decoration: none;
    background-color: rgb(58, 58, 58);
    color:rgb(243, 243, 243);
    padding:7px;
    bottom: 0px;
    left: 0px;
    right:0px;
    position: fixed;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-weight: bold;
    color: rgb(26, 87, 137);
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.descrip{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.left{
    left: 40px;
    position: absolute;
    text-decoration: none;
    color:rgb(243, 243, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.left:hover{
    color:black;
    background-color: rgb(243, 243, 243);
    padding: 2px;
}